<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
  <div class="tile is-ancestor">
    <div class="tile is-6 is-parent">
      <div class="tile is-child box">
        <div class="columns is-vcentered">
          <div class="column is-one-quarter">
            <figure class="image is-128x128 mr-6">
              <a href={{projects.[0].link}}><img src={{projects.[0].image}}></a>
            </figure>
          </div>
          <div class="column">
            <a href={{projects.[0].link}}><p class="title">{{projects.[0].name}}</p></a>
          </div>
        </div>
        <p>{{projects.[0].description}}</p>
      </div>
    </div>
    <div class="tile is-6 is-vertical is-parent">
      <div class="tile is-child">
        <div class="tile is-child box">
          <div class="columns">
            <div class="column is-one-quarter mr-6">
              <figure class="image is-128x128">
                <a href={{projects.[1].link}}><img src={{projects.[1].image}}></a>
              </figure>
            </div>
            <div class="column">
              <a href={{projects.[1].link}}><p class="title">{{projects.[1].name}}</p></a>
              <p>{{projects.[1].description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-child">
        <div class="tile is-child box">
          <div class="columns">
            <div class="column is-one-quarter mr-6">
              <figure class="image is-128x128">
                <a href={{projects.[2].link}}><img src={{projects.[2].image}}></a>
              </figure>
            </div>
            <div class="column">
              <a href={{projects.[2].link}}><p class="title">{{projects.[2].name}}</p></a>
              <p>{{projects.[2].description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="tile is-ancestor">
    <div class="tile is-5 is-parent">
      <div class="tile is-child box">
        <div class="columns">
          <div class="column is-one-quarter mr-6">
            <figure class="image is-128x128">
              <a href={{projects.[3].link}}><img src={{projects.[3].image}}></a>
            </figure>
          </div>
          <div class="column">
            <a href={{projects.[3].link}}><p class="title">{{projects.[3].name}}</p></a>
            <p>{{projects.[3].description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-7 is-parent">
      <div class="tile is-child box">
        <div class="columns">
          <div class="column is-one-quarter mr-6">
            <figure class="image is-128x128">
              <a href={{projects.[4].link}}><img src={{projects.[4].image}}></a>
            </figure>
          </div>
          <div class="column">
            <a href={{projects.[4].link}}><p class="title">{{projects.[4].name}}</p></a>
            <p>{{projects.[4].description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-7 is-vertical is-parent">
      <div class="tile is-child box">
        <div class="columns">
          <div class="column is-one-quarter">
            <figure class="image is-128x128">
              <a href={{projects.[5].link}}><img src={{projects.[5].image}}></a>
            </figure>
          </div>
          <div class="column">
            <a href={{projects.[5].link}}><p class="title">{{projects.[5].name}}</p></a>
            <p>{{projects.[5].description}}</p>
          </div>
        </div>
      </div>
      <div class="tile is-child box">
        <div class="columns">
          <div class="column is-one-quarter">
            <figure class="image is-128x128">
              <a href={{projects.[6].link}}><img src={{projects.[6].image}}></a>
            </figure>
          </div>
          <div class="column">
            <a href={{projects.[6].link}}><p class="title">{{projects.[6].name}}</p></a>
            <p>{{projects.[6].description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-5 is-parent">
      <div class="tile is-child box">
        <div class="columns">
          <div class="column is-one-quarter mr-6">
            <figure class="image is-128x128">
              <a href={{projects.[7].link}}><img src={{projects.[7].image}}></a>
            </figure>
          </div>
          <div class="column">
            <a href={{projects.[7].link}}><p class="title">{{projects.[7].name}}</p></a>
            <p>{{projects.[7].description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-5 is-parent">
      <div class="tile is-child box">
        <div class="columns">
          <div class="column is-one-quarter mr-6">
            <figure class="image is-128x128">
              <a href={{projects.[8].link}}><img src={{projects.[8].image}}></a>
            </figure>
          </div>
          <div class="column">
            <a href={{projects.[8].link}}><p class="title">{{projects.[8].name}}</p></a>
            <p>{{projects.[8].description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-7 is-parent">
      <div class="tile is-child box">
        <div class="columns">
          <div class="column is-one-quarter mr-6">
            <figure class="image is-128x128">
              <a href={{projects.[9].link}}><img src={{projects.[9].image}}></a>
            </figure>
          </div>
          <div class="column">
            <a href={{projects.[9].link}}><p class="title">{{projects.[9].name}}</p></a>
            <p>{{projects.[9].description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>